@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('fonts/cr_osd_mono_1.001-webfont.woff2') format('woff2'),
         url('fonts/vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Variables
$primaryColor: rgba(255, 255, 255, 0.9);
$ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background: #000;

// Mixins
:root {
  --f-size: 15;
  --f-unit: 1vmin;
  --f: calc(var(--f-size) * var(--f-unit));
  --bg: #000;
}

@mixin media($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin media-min($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin media-height($breakpoint) {
    @media (max-height: $breakpoint) {
        @content;
    }
}

//Styles
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
}

p {
  font-family: 'Fira Mono', monospace;
  font-size: 14px;
  line-height: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {

}

button {

}

body {
  background: #000;
}

//Title Screen BG
.container {
  background: #000;
  width: 100%;
  height: 80vh;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    height: 100%;
  }
}

.screen-effect {
  // flicker
  &::after{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparentize($screen-background, 0.9);
    opacity: 0;
    z-index: 2;
    pointer-events:none;
  }
  // scanlines
  &::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(transparentize($screen-background,1) 50%, transparentize(darken($screen-background,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index: 2;
    background-size: 100% 3px, 1px 100%;
    pointer-events: none;
  }
}

.screen-effect::after {
  animation: flicker 0.15s infinite;
}

.hidden-container {
  animation-play-state: paused;
  visibility: hidden !important;
}

.screen {
  width: 100%;
  height: 100vh;
  border: none;

  .glitch {
    width: 150%;
    margin-left: -25%;
    margin-top: -20%;
  }

  @media screen and (min-width: 480px) {
    height: 100%;

    .glitch {
      width: 100%;
      margin: 0;
    }
  }
}

//Title Screen Text
#testimage {
  height: auto;
  width: 100%;
  position: absolute;
  overflow-y: hidden;
  flex: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-47%, -50%);
  -ms-transform: translate(-47%, -50%);
  transform: translate(-47%, -50%);
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-weight: normal;
  font-size: 90px;
  line-height: .75;
  letter-spacing: 16px;
  color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: screen;
  filter: blur(1px);
  //animation: floating 5s ease-in-out;
  //will-change: transform;

  &::before,
  &::after {
    --top: 0;        // offset from top [0 - 10]
    --left: 0;       // offset from left [0.001 - 1]
    --v-height: 100%; // visible part

    --n-tenth: calc(var(--f-size) * .1 * var(--top));
    --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
    --b-cut: calc(var(--t-cut) + var(--v-height));

    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;

    -webkit-transform: translateX(calc(var(--left) * 100%));
    -ms-transform: translateX(calc(var(--left) * 100%));
    transform: translateX(calc(var(--left) * 100%));

    // Remove Pixelization
    filter: drop-shadow(0 0 transparent);

    text-shadow: calc(var(--left) * -3em) 0 .02em #00ffff,
                 calc(var(--left) * -6em) 0 .02em #ff00e1;

    background-color: var(--bg);
    clip-path: polygon(0% var(--t-cut), 100% var(--t-cut), 100% var(--b-cut), 0% var(--b-cut));

  }

  &::before {
    animation: glitch-1 3s infinite alternate-reverse;
  }

  &::after {
    animation: glitch-2 3.1s infinite alternate;
  }

  @media screen and (min-width: 480px) {
    float: right;
    font-size: 130px;
    overflow: hidden;
    transform: translate(-50%, -50%);
  }
}

.main-menu {

  position: fixed;
  bottom: 20%;
  width: 100%;
  height: auto;
  font-family: vcr_osd_monoregular;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  //Start Message
  .start-option {
    position: absolute;
    left: 50%;
    bottom: 15vh;
    font-size: 18px;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 500 ease-in-out;
    animation: blink 1.4s ease-in-out infinite;

    &:hover {
      cursor: pointer;
    }
  }

  //Hide All Stages
  .stage {
    visibility: hidden;
  }

  //Show Active Stage
  .stage.active {
    visibility: visible;
  }

  //Stage Two
  #stage02 {
    margin-top: 30px;
    margin-left: -18px;
    display: flex;
    font-size: 18px;
    justify-content: flex-start;
    flex-direction: column;
    filter: blur(0.5px);
    opacity: 0;
  }

  //Custom Stage Two Load Animation
  #stage02.active {
    visibility: visible;
    animation: menuAnimation 1s linear;
    opacity: 1;
  }

  //Menu Options
  .menu-option {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 25px;
    padding-bottom: 1px;

    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (min-width: 480px) {

    bottom: 5%;
    height: 40%;
    font-size: 24px;

    .start-option {
      font-size: 24px;
      bottom: 50%;
    }
    #stage02 {
      margin-left: 0px;
      font-size: 24px;
    }
  }
}

//Selected Menu Option
.menu-option.selected {
  &::before {
    content: "►";
    position: absolute;
    transform: translate(-25px, 0px);
    font-size: 18px;
    color: #00ffff;
    @media screen and (min-width: 480px) {
      transform: translate(-25px, 2px);
    }
  }
}

//Lines
.screen-bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.line {
	width: 100%;
	height: 3px;
	position: relative;
	animation: 	appear 1s infinite,
					    flick 1s infinite,
					    big-jump 5ms infinite;
	.white {
		background: white;
		position: relative;
		top: 0;
		left: 0;
		height: 4px;
	}
	.red {
		background: red;
		position: relative;
		top:0;
		left: 0;
		height: 1px;
	}
	.green {
		background: green;
		position: relative;
		top:0;
		left: 0;
		height: 1px;
	}
}

.splashScreen {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 7;
  background-image: radial-gradient( #151515, #000 );

  .loadingContainer {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;

    .loadingElements {
      width: 100%;
      height: 100%;
      opacity: 0;

      .splashLogo {
        width: 50%;
        margin-right: 10px;
      }
      .loadingBarCont {
        width: 100%;
        background: none;
        border: 2px solid #fff;
        padding: 5px 4px;
        display: block;
        margin: 50px 0 0;
        overflow: hidden;
        filter: blur(1px);
      }
      .loadingBar {
        width: 0%;
        height: 6px;
        background: #fff;
        left: -100%;
      }
    }
    @include media(420px) {
        width: 300px;

        .loadingElements {
          .splashLogo {
            margin: 0;
          }
          .loadingBarCont {
            width: 90%;
            margin: 25px 0 0;
            margin-left: 5%;
          }
        }
    }
  }
}

@keyframes glitch-1 {
    0.66%,1.98%,3.3%,4.62%,5.94% {
    --top: 0;
    --left: 0;
  }
  0% {
   --v-height: 15%;
   --top: 10;
  }
  1.32% {
    --left: -.005;
  }
  2.64% {
    --left: -.01;
    --v-height: 17%;
    --top: 3;
  }
  3.96% {
    --left: -.03;
    --v-height: 70%;
    --top: 6;
  }
  5.28% {
    --left: -.07;
    --v-height: 5%;
    --top: 8;
  }
  6.6% {
    --left: -.083;
    --v-height: 100%;
    --top: 1;
  }
  6.7% {
    --top: 0;
    --left: 0;
  }
}

@keyframes glitch-2 {
  10%,30%,50%,70%,90% {
    --top: 0;
    --left: 0;
  }
  0% {
   --v-height: 15%;
  }
  20% {
    --left: .005;
  }
  40% {
    --left: .01;
    --v-height: 20%;
    --top: 3;
  }
  60% {
    --left: .03;
    --v-height: 25%;
    --top: 6;
  }
  80% {
    --left: .07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: .083;
    --v-height: 100%;
    --top: 1;
  }
}

@keyframes floating {
    0% { transform: translate(-50%, -50%); }
    65%  { transform: translate(-50%, -45%); }
    100%  { transform: translate(-50%, -50%); }
}

@keyframes appear {
  0%   { filter: blur(5px); opacity: 0.85;}
  50% { filter: blur(3px); opacity: 0.85;}
  100%{ filter: blur(4px); opacity: 0.85;}
}

@keyframes big-jump {
	0% { top: -500px; }
 	4% { top: 0px; }
	30% { top: 50%; }
	54% { top:0; }
	55% { top: -300px; }
	56% { top:0; }
	86% { top:0; }
	87% { top: -600px; }
	88% { top:0; }
}

@keyframes blink {
  0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

@keyframes flicker {
  $steps:20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}

@keyframes menuAnimation {
  0%   { filter: blur(5px); opacity: 0.45;}
  50% { filter: blur(3px); opacity: 0.85;}
  100%{ filter: blur(0px); opacity: 1;}
}

// ------------- VARIABLES ------------- //
$whitespace-height: 0px;
$left-offset: 13vw;
$rect-width: 48vh;
$rect-height: 62vh;
$rect-border-width: 5vh;
$control-btn-padding: 1.6rem;
$control-active-btn-offset: .3rem;
$left-offset-small: 9vw;
$rect-height-small: 20vw;
$rect-width-small: 16vw;
$rect-border-width-small: 5vh;
// ------------- GENERAL ------------- //
%callout {
    font-family: "Fira Mono", monospace;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .12rem;
    font-size: .9rem;
    line-height: 1;
}

[v-cloak] {
    opacity: 0;
}

body {
    cursor: default;
    ::selection {
        background-color: rgba(46, 49, 52, .7);
        color: #f5f5f1;
    }
    ::-moz-selection {
        background-color: rgba(46, 49, 52, .7);
        color: #f5f5f1;
    }
}

.wrapper {
    height: calc(100vh - #{$whitespace-height});
    min-height: 36rem;
    position: relative;
    @include media(630px) {
        height: calc(100vh - 44px);
        min-height: 0;
    }
}

// ------------- SLIDES ------------- //
.slide {
    &-wrapper {
        background-size: cover;
        height: 100%;
        background-position: center center;
        position: absolute;
        width: 100%;
        background-blend-mode: darken;
        &:nth-child(1) {
            background-color: rgba(115, 129, 153, .4);
            &:before {
            }
            .slide-content-text {
                text-shadow: 2px 5px 45px rgba(85, 96, 113, 0.25);
            }
        }
        &:nth-child(2) {
            background-color: rgba(144, 171, 184, .7);
            &:before {
            }
            .slide-content-text {
                text-shadow: 2px 5px 45px rgba(121, 142, 152, 0.2);
            }
        }
        &:nth-child(3) {
            background-color: rgba(86, 125, 156, .5);
            &:before {
            }
            .slide-content-text {
                text-shadow: 2px 5px 55px rgba(57, 83, 103, 0.4);
            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }
    &-inner {
        position: relative;
        z-index: 2;
        height: 100%;
        overflow: hidden;
    }
    &-bg-text p {
        font-family: din-condensed, sans-serif;
        color: #000;
        font-size: 42vh;
        line-height: .8;
        opacity: .03;
        font-weight: 900;
        margin-top: -4rem;
        position: absolute;
        top: 50%;
        left: 5vw;
        transform: translateY(-50%);
        > p:last-child {
            padding-left: 4rem;
        }
    }
    &-content {
        color: #fff;
        margin-top: 5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        left: calc(#{$left-offset} + 1rem);
        @include media(1000px) {
            left: calc(#{$left-offset});
            margin-top: 3rem;
        }
        @include media-height(730px) {
            top: 30%;
            transform: translateY(-30%);
            left: calc(#{$left-offset-small} + (.7) * #{$rect-width-small});
        }
        @include media(640px) {
            top: 48vh;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            margin-top: 0px;
        }
        &-text {
            font-family: din-condensed, sans-serif;
            font-size: 9rem;
            letter-spacing: .2rem;
            line-height: .87;
            font-weight: 700;
            will-change: auto;
            @include media-height(790px) {
                font-size: 7rem;
            }
            @include media(1150px) {
                font-size: 7rem;
            }
            @include media(840px) {
                font-size: 5.5rem;
            }
            @include media(640px) {
                margin-bottom: 2rem;
            }
            @include media(640px) {
                font-size: 5rem;
                letter-spacing: 0.1rem;
                position: relative;
                left: calc(2vw + (.7) * 16vw);
            }
            @include media(420px) {
                font-size: 4rem;
            }
            > p {
              @include media(840px) {
                  line-height: 1 !important;
                  letter-spacing: 6px !important;
              }
              @include media(640px) {
                  letter-spacing: 2px !important;
              }
            }
            > p:last-child {
                padding-left: 3rem;
            }
        }
        &-cta {
            @extend %callout;
            cursor: pointer;
            align-self: flex-start;
            margin-top: 4.5rem;
            margin-left: calc((.3) * 48vh + 4.5rem);
            padding: .9rem 2.2rem;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            transition: .18s ease-in-out;
            font-weight: 700;
            text-decoration: none;
            @include media(1000px) {
                background-color: rgba(255, 255, 255, .3);
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
            }
            @include media(640px) {
              margin: 0;
              font-size: 0.7rem;
              padding: 0.9rem 2.0rem;
              align-self: center;
            }
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }
    &-rect {
        height: $rect-height;
        width: $rect-width;
        border-image-slice: 10%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: $left-offset;
        border-width: $rect-border-width;
        border-style: solid;
        box-shadow: 2px 2px 90px 30px rgba(41, 50, 61, 0.22);
        will-change: auto;
        @include media-height(790px) {
            left: $left-offset-small;
            height: $rect-height-small;
            width: $rect-width-small;
            border-width: $rect-border-width-small;
        }
        @media (max-width: 640px) and (min-height: 700px) {
            top: 10vh;
        }
        @include media(640px) {
            transform: translateY(-40%);
            left: calc(2vw + (.7) * 16vw);
            width: 38vh;
            height: 38vh;
        }
        &-filter {
            filter: brightness(110%) contrast(110%) saturate(110%);
        }
    }
    &-side-text {
        @extend %callout;
        position: absolute;
        left: calc(#{$left-offset} - 3rem);
        writing-mode: vertical-rl;
        top: calc((50% - (#{$rect-height} / 2)) + (#{$rect-border-width} / 2));
        @include media-height(790px) {
            left: calc(#{$left-offset-small} - 3rem);
            top: calc((50% - (#{$rect-height-small} / 2)) + (#{$rect-border-width-small} / 2));
        }
        @include media-height(730px) {
            top: calc((40% - (#{$rect-height-small} / 2)) + (#{$rect-border-width-small} / 2));
        }
        @include media(640px) {
            left: calc(4vw);
            top: calc((40% - (100vw / 2)) );
            font-size: 0.7rem;
        }
        > span:first-child {
            font-weight: 700;
        }
        &:after {
            content: "";
            width: 1px;
            background-color: #fff;
            height: 40px;
            display: block;
            position: absolute;
            top: calc(100% + 25px);
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

// ------------- CONTROLS ------------- //
.controls {
    &-container {
        position: absolute;
        z-index: 6;
        display: flex;
        bottom: 0;
        right: 0;
        align-items: flex-end;
        @include media(640px) {
          bottom: 0;
          left: 0;
        }
    }
    &-left-arrow,
    &-right-arrow {
      display: none;

      @include media(640px) {
        display: block;
        position: absolute;
        height: 100px;
        width: calc(50vw - 50px);
        bottom: 20px;
      }
    }
    &-left-arrow {
      left: 0;
    }
    &-right-arrow {
      right: 0;
    }
    &-button {
        @extend %callout;
        cursor: pointer;
        background-color: rgba(208, 206, 204, .32);
        border: 0;
        padding: 0;
        flex-basis: 0;
        flex-grow: 1;
        transition: .25s ease-in-out;
        outline: 0;
        @include media(730px) {
            padding: 0;
        }
        @include media(640px) {
            padding: 0;
            position: absolute;
            opacity: 0;
            left: -9999px;
        }
        img {
          width: 100px;
          height: 100px;
        }
        &:not(.active) {
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
        &.active {
            cursor: default;
            font-weight: 700;
            background-color: #3b3e45;
            margin-bottom: 2.8rem;
            position: relative;
            @include media(640px) {
              margin-bottom: -0.15rem;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: 20px;
              animation-name: fadeIn;
              animation-delay: .3s;
              animation-duration: .5s;
              animation-fill-mode: forwards;
              animation-timing-function: ease-in;
            }
            &:after {
                content: "";
                background-color: #e3e3e3;
                height: 5px;
                width: calc(100% - 8px);
                position: absolute;
                top: 100%;
                left: 4px;
            }
        }
        &:not(.active) + & {
            border-left: 1px solid rgba(255, 255, 255, .2);
        }
    }
}

// ------------- PAGINATION ------------- //
.pagination {
    &-container {
        position: absolute;
        z-index: 6;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        @include media(920px) {
            display: none;
        }
    }
    &-item {
        width: 30px;
        height: 1px;
        background-color: rgba(255, 255, 255, .6);
        transition: .18s ease-in-out;
        & + & {
            margin-top: 1rem;
        }
        &.active {
            background-color: #fff;
            position: relative;
            transform: translateX(-.6rem);
            width: 35px;
            &:after {
                content: "";
                height: 4px;
                width: 2px;
                border-radius: 35%;
                background-color: #fff;
                display: inline-block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateX(.6rem) translateY(-50%);
            }
        }
        &:not(.active) {
            cursor: pointer;
            &:hover {
                background-color: #fff;
                width: 35px;
            }
        }
    }
}

// ------------- Back-Button ------------- //
.back-button-container {
    position: absolute;
    z-index: 6;
    left: 2rem;
    top: 2rem;

    @include media(920px) {
      left: calc(4vw);
      top: 2vh;
      font-size: 0.7rem;
    }
    a {
      height: 30px;
      width: 150px;
      display: flex;
      align-items: center;
      filter: blur(0.4px);
      opacity: 0.8;
      transition: .18s ease-in-out;

      &:hover {
          opacity: 1;
      }

      .back-arrow {
        background: #fff;
        height: 2px;
        width: 70px;
        margin: 0 auto;
        position: relative;
        cursor: pointer;
        @include media(920px) {
          width: 30px;
        }

        &:before,
        &:after {
          content: "";
          background: #fff;
          position: absolute;
          height: 2px;
          width: 13px;

          @include media(920px) {
            width: 10px
          }
        }

        &:before {
          left: -4px;
          bottom: -4px;
          transform: rotate(45deg);
          @include media(920px) {
            left: -3px;
            bottom: -3px;
          }
        }

        &:after {
          left: -4px;
          top: -4px;
          transform: rotate(-45deg);
          @include media(920px) {
            left: -3px;
            top: -3px;
          }
        }
      }
      .back-arrow-text {
        font-family: "Fira Mono", monospace;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 0.12rem;
        font-size: 0.8rem;
        font-weight: 800;
        line-height: 1;
        text-decoration: none !important;
        padding-left: 1rem;
        padding-top: 1px;
        white-space: nowrap;
      }
    }
}

// ------------- ANIMATION EFFECT ------------- //
$slide-swipe: .9s;
$text-cut-up: .5s;
@keyframes slideLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes cutTextUp {
    from {
        clip-path: inset(0 0 -10% 0);
    }
    to {
        clip-path: inset(0 0 100% 0);
    }
}

@keyframes cutTextDown {
    from {
        clip-path: inset(100% 0 0 0);
    }
    to {
        clip-path: inset(-10% 0 -20% 0);
        opacity: 1;
    }
}

@keyframes cutTextDownFromTop {
    from {
        clip-path: inset(0 0 100% 0);
    }
    to {
        clip-path: inset(0 0 -30% 0);
        opacity: 1;
    }
}

@keyframes rectMovement {
    0% {
        transform: translateX(0) rotate(0) translateY(-50%);
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-50%);
        opacity: 0;
    }
}

@include media-height(730px) {
    @keyframes rectMovement {
        0% {
            transform: translateX(0) rotate(0) translateY(-30%);
        }
        60% {
            opacity: 1;
        }
        100% {
            transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-30%);
            opacity: 0;
        }
    }
}

@keyframes rectMovementFromRight {
    0% {
        transform: translateX(calc(#{$rect-width})) rotate(12deg) translateY(-50%);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateX(0) rotate(0) translateY(-50%);
        opacity: 1;
        @include media-height(730px) {
            transform: translateX(0) rotate(0) translateY(-30%);
        }
    }
}

@include media-height(730px) {
    @keyframes rectMovementFromRight {
        0% {
            transform: translateX(calc(#{$rect-width})) rotate(12deg) translateY(-30%);
            opacity: 0;
        }
        60% {
            opacity: 1;
        }
        100% {
            transform: translateX(0) rotate(0) translateY(-30%);
            opacity: 1;
        }
    }
}

@keyframes rectMovementRight {
    0% {
        transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-50%);
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: translateX(0) rotate(0) translateY(-50%);
        opacity: 1;
        @include media-height(730px) {
            transform: translateX(0) rotate(0) translateY(-30%);
        }
    }
}

@include media-height(730px) {
    @keyframes rectMovementRight {
        0% {
            transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-30%);
        }
        40% {
            opacity: 1;
        }
        100% {
            transform: translateX(0) rotate(0) translateY(-30%);
            opacity: 1;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-wrapper {
    opacity: 0;
    transition-delay: $slide-swipe + $text-cut-up;
    transition-duration: 0s;
    transition-property: opacity;
    will-change: opacity, transform;
    .slide-content-text > p {
      font-family: din-condensed, sans-serif;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1.0);
      mix-blend-mode: normal;
      z-index: 10;
      letter-spacing: 16px;
      font-size: inherit;
      line-height: 0.87;
    }
    &:not(.active) {
        animation-delay: $text-cut-up;
        animation-name: slideLeft;
        animation-duration: $slide-swipe;
        animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
        pointer-events: none;
        .slide-content-text > p,
        .slide-side-text {
            animation-name: cutTextUp;
            animation-duration: $text-cut-up;
            animation-timing-function: ease-out;
        }
        .slide-rect {
            animation-name: rectMovement;
            animation-duration: $text-cut-up;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }
    }
    &.active {
        transition-delay: 0s;
        opacity: 1;
        .slide-content-text > p {
            opacity: 0;
            animation-delay: $text-cut-up + .3s;
            animation-name: cutTextDown;
            animation-duration: $text-cut-up;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }
        .slide-rect {
            opacity: 0;
            animation-name: rectMovementFromRight;
            animation-duration: $text-cut-up - .05s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-delay: $slide-swipe;
        }
    }
    .is-previous & {
        &:not(.active) {
            animation: none;
            .slide-rect {
                animation: none;
            }
        }
        &.active {
            transform: translateX(-100%);
            animation-fill-mode: forwards;
            animation-delay: $text-cut-up;
            animation-name: slideRight;
            animation-duration: $slide-swipe - .1s;
            animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
            .slide-rect {
                opacity: 0;
                animation-name: rectMovementRight;
                animation-duration: $text-cut-up;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                animation-delay: $slide-swipe;
            }
        }
    }
}

.first-load {
    .slide-wrapper.active .slide-side-text,
    .slide-wrapper.active .slide-content-cta,
    .slide-wrapper.active .slide-rect,
    .controls-container {

    }
    .slide-wrapper.active .slide-content-text > p {
        animation-name: fadeIn;
        animation-delay: $text-cut-up;
        animation-duration: $text-cut-up + .2s;
    }
}

.fade-load {
    .slide-wrapper.active .slide-side-text,
    .slide-wrapper.active .slide-content-cta,
    .controls-container,
    .back-button-container {
        opacity: 0;
        animation-name: fadeIn;
        animation-delay: 2s;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }
    .slide-wrapper.active .slide-content-text > p {
        opacity: 0;
        animation-delay: 2s;
        animation-name: cutTextDown;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    .slide-wrapper.active .slide-rect {
      opacity: 0;
      animation-name: rectMovementRight;
      animation-duration: $text-cut-up;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      animation-delay: 2s;
    }
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.4s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}


.project_wrapper {

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;

  .project_header {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;

    h2 {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-family: din-condensed, sans-serif;
      font-weight: 400;
      font-weight: normal;
      font-size: 70px;
      line-height: 1;
      letter-spacing: 5px;
      color: rgba(255, 255, 255, 0.9);
      mix-blend-mode: screen;
      filter: blur(1px);
      padding: 0 15px;

      @media screen and (min-width: 768px) {
        font-size: 90px;
        letter-spacing: 16px;
        padding: 0;
      }
    }
    span {
      color: #fff;
      font-family: vcr_osd_monoregular;
      position: absolute;
      bottom: 50px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      overflow: hidden;
      z-index: 3;
      font-size: 16px;
      white-space: nowrap;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      letter-spacing: 6px;
      mix-blend-mode: screen;
      filter: blur(.6px);
      animation: blink 1.4s ease-in-out infinite;
    }
  }

  .project_info {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @include media(960px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .project_details {
      width: 15%;
      float: left;
      font-family: "Fira Mono", monospace;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: .12rem;
      font-size: .9rem;
      line-height: 1;

      @include media(960px) {
        width: 100%;
        margin-bottom: 20px;
      }

      .project_tags {
        padding-top: 40px;
      }
    }

    .project_brief {
      width: 70%;
      float: right;

      @include media(960px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    h4 {
      font-family: vcr_osd_monoregular;
      font-size: 18px;
      letter-spacing: 2px;
      filter: blur(0.6px);
      line-height: 2.5;
    }

    p, li {
      font-size: 14px;
      line-height: 1.8;
      color: #fff;
    }
  }

  .project_content {
    .content_image_block {
      position: relative;
      width: 100%;
      margin-bottom: 176px;

      @include media(960px) {
        margin-bottom: 90px;
      }

      img {
        width: 100%;
        height: auto;
        max-height: 90vh;
      }
    }
  }
}

.section--small {
  max-width: 1080px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

  @include media-min(720px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include media-min(1080px) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.section--medium {
    max-width: 1400px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;

  @include media-min(720px) {
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
  }
  @include media-min(1080px) {
    max-width: 1400px;
    padding-left: 70px;
    padding-right: 70px;
  }
}
