<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AEXION — PROJECTS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">

        <link rel="stylesheet" href="https://use.typekit.net/diz4lka.css">
        <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		 <script type="text/javascript" src="js/stats.js"></script>
    </head>
    <body>
      <script type="text/x-template" id="home">
        <div class="wrapper" v-cloak v-bind:class="{'is-previous': isPreviousSlide, 'first-load': isFirstLoad}">
          <div class="slide-wrapper screen-effect"
               v-for="(slide, index) in slides"
               v-bind:class="{ active: index === currentSlide }"
               v-bind:style="{ 'z-index': (slides.length - index), 'background-image': 'url(' + slide.bgImg + ')' }">
              <div class="slide-inner">
                  <div class="slide-bg-text">
                      <p>{{ slide.headlineFirstLine }}</p>
                      <p>{{ slide.headlineSecondLine }}</p>
                  </div>
                  <div class="slide-rect-filter">
                      <div class="slide-rect" v-bind:style="{'border-image-source': 'url(' + slide.rectImg + ')'}"></div>
                  </div>
                  <div class="slide-content">
                      <h1 class="slide-content-text"><p>{{ slide.headlineFirstLine }}</p><p>{{ slide.headlineSecondLine }}</p></h1>
                      <router-link :to="slide.routeURL" class="slide-content-cta">View Project</router-link></div>
                  <h2 class="slide-side-text"><span>{{ slide.sublineFirstLine }} / </span><span>{{ slide.sublineSecondLine }}</span></h2></div>
          </div>
          <div class="controls-container">
              <button class="controls-button"
                      v-for="(slide, index) in slides"
                      v-bind:class="{ active: index === currentSlide }"
                      v-on:click="updateSlide(index)"><img v-bind:src='slide.icoImg'/></button>
          </div>
          <div class="pagination-container">
              <span class="pagination-item"
                    v-for="(slide, index) in slides"
                    v-bind:class="{ active: index === currentSlide }"
                    v-on:click="updateSlide(index)"></span>
          </div>
        </div>
      </script>

      <script type="text/x-template" id="project-template">
          <div class="project_wrapper">
            <div class="project_header">
              <h2>I Did What?</h2>
              <span>[ SCROLL DOWN ]</span>
            </div>
            <div class="project_info">
                <h4>DATE</h4>
                <p>01/20/12</p>
              <ul class="project_tags">
                <h4>CATEGORIES</h4>
                <li>Icon Design</li>
                <li>UX/UI Design</li>
                <li>Motion Design</li>
                <li>App Development</li>
              </ul>
            </div>
            <div class="project_brief">
            <p>I Did What? is an upcoming mobile application that allows users to replay their previous night in a story-journal format.
              Taking inspiration from the popular film "The Hangover", the apps primary purpose is to record the events of a night out,
              because they may not be so memorable the following morning. The project started with icon development, and included
              everything from interface design to promotional videos. The app is scheduled to release early next year on both android
              and apple devices.</p>
            </div>
            <div class="project_content">
              <div class="project_content_container">
              </div>
            </div>
              <ul>
                  <li>
                      <router-link to="/">Home</router-link>
                  </li>
              </ul>
          </div>
      </script>

      <div id="app">
          <router-view></router-view>
      </div>
      <script src="js/main.js"></script>
      <script src="js/vue-router.js"></script>
    </body>
</html>
