<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AEXION — PROJECTS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">

        <link rel="stylesheet" href="https://use.typekit.net/diz4lka.css">
        <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="js/smooth-scrollbar.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script src="js/vue/vue-router.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
      <script type="text/x-template" id="loading-screen">
        <div class="splashScreen screen-effect">
          <div class="loadingContainer">
            <div class="loadingElements">
              <img src="img/aexion_loading_ico.png" class="splashLogo">
              <div class="loadingBarCont">
                <div class="loadingBar"></div>
              </div>
            </div>
          </div>
        </div>
      </script>
      <script type="text/x-template" id="home">
        <div class="wrapper" v-cloak v-bind:class="{'is-previous': isPreviousSlide, 'first-load': isFirstLoad}">
          <div class="slide-wrapper screen-effect"
               v-for="(slide, index) in slides"
               v-bind:class="{ active: index === currentSlide }"
               v-bind:style="{ 'z-index': (slides.length - index), 'background-image': 'url(' + slide.bgImg + ')' }">
              <div class="slide-inner">
                  <div class="slide-bg-text">
                      <p>{{ slide.headlineFirstLine }}</p>
                      <p>{{ slide.headlineSecondLine }}</p>
                  </div>
                  <div class="slide-rect-filter">
                      <div class="slide-rect" v-bind:style="{'border-image-source': 'url(' + slide.rectImg + ')'}"></div>
                  </div>
                  <div class="slide-content">
                      <h1 class="slide-content-text"><p>{{ slide.headlineFirstLine }}</p><p>{{ slide.headlineSecondLine }}</p></h1>
                      <router-link :to="slide.routeURL" class="slide-content-cta">View Project</router-link></div>
                  <h2 class="slide-side-text"><span>{{ slide.sublineFirstLine }} / </span><span>{{ slide.sublineSecondLine }}</span></h2></div>
          </div>
          <div class="controls-container">
              <div class="controls-left-arrow" v-on:click="prevSlide()">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30.4 56.6">				<polygon class="prev" points="0,28.3 2.1,30.4 28.3,56.6 30.4,54.4 4.2,28.3 30.4,2.1 28.3,0 2.1,26.2 2.1,26.2 "></polygon></svg>
              </div>
              <button class="controls-button"
                      v-for="(slide, index) in slides"
                      v-bind:class="{ active: index === currentSlide }"
                      v-on:click="updateSlide(index)"><img v-bind:src='slide.icoImg'/></button>
              <div class="controls-right-arrow" v-on:click="nextSlide()">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30.4 56.6">				<polygon class="next" points="30.4,28.3 28.3,26.2 2.1,0 0,2.1 26.2,28.3 0,54.4 2.1,56.6 28.3,30.4 28.3,30.4 "></polygon></svg>
              </div>
          </div>
          <div class="pagination-container">
              <span class="pagination-item"
                    v-for="(slide, index) in slides"
                    v-bind:class="{ active: index === currentSlide }"
                    v-on:click="updateSlide(index)"></span>
          </div>
          <div class="back-button-container">
            <a href="index.html">
              <div class="back-arrow"></div>
              <div class="back-arrow-text">MAIN MENU</div>
            </a>
          </div>
        </div>
      </script>

      <script type="text/x-template" id="project-template">
        <div>
          <div class="back-button-container">
            <router-link to="/">
              <div class="back-arrow"></div>
              <div class="back-arrow-text project-arrow">BACK</div>
            </router-link>
          </div>
          <div id="scrollbar" data-scrollbar>
            <div class="project_wrapper">
              <div class="project_header">
                <h2>I Did What?</h2>
                <span id="project-scroll">[ SCROLL DOWN ]</span>
              </div>
              <div class="project_info section--small" id="project-start">
                <div class="project_details">
                    <h4>Date</h4>
                    <p>06/11/18</p>
                  <ul class="project_tags">
                    <h4>Category</h4>
                    <li>Icon Design</li>
                    <li>UX/UI Design</li>
                    <li>Motion Design</li>
                    <li>App Development</li>
                  </ul>
                </div>
                <div class="project_brief">
                  <p>I Did What? is an upcoming mobile application that allows users to replay their previous night in a story-journal format.
                    Taking inspiration from the popular film "The Hangover", the apps primary purpose is to record the events of a night out,
                    because they may not be so memorable the following morning. The project started with icon development, and included
                    everything from interface design to promotional videos. The app is scheduled to release early next year on both android
                    and apple devices.</p>
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ididwhat-sketch-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ididwhat-finallogo-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ididwhat-screens-01.png" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ididwhat-lifestyle-01-full.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ididwhat-screens-02.png" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ididwhat-lifestyle-02-full.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <video autoplay loop muted playsinline>
                    <source src="img/initial-screens-web.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
            <div class="scrollbar-track scrollbar-track-x">
              <div class="scrollbar-thumb scrollbar-thumb-x"></div>
            </div>
            <div class="scrollbar-track scrollbar-track-y">
              <div class="scrollbar-thumb scrollbar-thumb-y"></div>
            </div>
          </div>
        </div>
      </script>

      <script type="text/x-template" id="elisian-project">
        <div>
          <div class="back-button-container">
            <router-link to="/">
              <div class="back-arrow"></div>
              <div class="back-arrow-text project-arrow">BACK</div>
            </router-link>
          </div>
          <div id="scrollbar" data-scrollbar>
            <div class="project_wrapper">
              <div class="project_header">
                <h2>ELISIAN</h2>
                <span id="project-scroll">[ SCROLL DOWN ]</span>
              </div>
              <div class="project_info section--small"  id="project-start">
                <div class="project_details">
                    <h4>Date</h4>
                    <p>01/20/12</p>
                  <ul class="project_tags">
                    <h4>Category</h4>
                    <li>Branding</li>
                    <li>Package Design</li>
                  </ul>
                </div>
                <div class="project_brief">
                  <p>ELISIAN is a revolutionary cosmetics brand that strives to innovate products that will shape the future of the make-up industry.
                    This project was centered around designing a form of packaging that showcased the brand's unique aesthetic, while also having a secondary functionality
                    that encouraged customers to keep their packaging instead of treating it as waste. This was accomplished by re-designing their brand identity from the
                    ground up, and then developing a package design that was truly one of a kind.</p>
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-sketch-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-finallogo-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-anim-02.gif" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-lifestyle-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-items-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-lifestyle-02.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-lifestyle-03.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-lifestyle-04.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-lifestyle-05.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-lifestyle-06.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-lifestyle-07.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-lifestyle-08.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-lifestyle-09.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/elisian-lifestyle-10.jpg" />
                </div>
              </div>
            </div>
            <div class="scrollbar-track scrollbar-track-x">
              <div class="scrollbar-thumb scrollbar-thumb-x"></div>
            </div>
            <div class="scrollbar-track scrollbar-track-y">
              <div class="scrollbar-thumb scrollbar-thumb-y"></div>
            </div>
          </div>
        </div>
      </script>

      <script type="text/x-template" id="ams-project">
        <div>
          <div class="back-button-container">
            <router-link to="/">
              <div class="back-arrow"></div>
              <div class="back-arrow-text project-arrow">BACK</div>
            </router-link>
          </div>
          <div id="scrollbar" data-scrollbar>
            <div class="project_wrapper">
              <div class="project_header">
                <h2>AMS BUILDING</h2>
                <span id="project-scroll">[ SCROLL DOWN ]</span>
              </div>
              <div class="project_info section--small"  id="project-start">
                <div class="project_details">
                    <h4>Date</h4>
                    <p>12/06/16</p>
                  <ul class="project_tags">
                    <h4>Category</h4>
                    <li>Branding</li>
                    <li>Graphic Design</li>
                  </ul>
                </div>
                <div class="project_brief">
                  <p>AMS Building Systems is a locally ran construction company in Vermillion, SD. Their target audience consists of clients
                    within a 60 mi. radius of their location, and provide services ranging from building construction to furniture restoration. Their ultimate goal
                    is to provide clients with an honest construction service that goes above and beyond the requirements.</p>
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-sketch-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-finallogo-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-branding-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-branding-02.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-branding-03.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-blueprint-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-blueprint-02.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-lifestyle-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-brandguide-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-brandguide-02.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-brandguide-03.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-brandguide-04.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-brandguide-05.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-brandguide-06.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-brandguide-07.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-brandguide-08.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/ams-brandguide-09.jpg" />
                </div>
              </div>
            </div>
            <div class="scrollbar-track scrollbar-track-x">
              <div class="scrollbar-thumb scrollbar-thumb-x"></div>
            </div>
            <div class="scrollbar-track scrollbar-track-y">
              <div class="scrollbar-thumb scrollbar-thumb-y"></div>
            </div>
          </div>
        </div>
      </script>

      <script type="text/x-template" id="coyote-boxing-project">
        <div>
          <div class="back-button-container">
            <router-link to="/">
              <div class="back-arrow"></div>
              <div class="back-arrow-text project-arrow">BACK</div>
            </router-link>
          </div>
          <div id="scrollbar" data-scrollbar>
            <div class="project_wrapper">
              <div class="project_header">
                <h2>COYOTE BOXING</h2>
                <span id="project-scroll">[ SCROLL DOWN ]</span>
              </div>
              <div class="project_info section--small"  id="project-start">
                <div class="project_details">
                    <h4>Date</h4>
                    <p>06/11/18</p>
                  <ul class="project_tags">
                    <h4>Category</h4>
                    <li>Branding</li>
                    <li>Illustration</li>
                    <li>Web Design</li>
                  </ul>
                </div>
                <div class="project_brief">
                  <p>The Coyote Boxing Club wanted to grow their brand locally by establishing an online presence. The project consisted of logo development,
                    promotional apparel and full design/development of their website. The primary function was to inform visitors of the programs they offered,
                    and describe what sets them apart from other combat facilities.</p>
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/cbc-sketch-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/cbc-finallogo-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <video autoplay loop muted playsinline>
                    <source src="img/cbc-home-anim.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <video autoplay loop muted playsinline>
                    <source src="img/cbc-about-anim.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <video autoplay loop muted playsinline>
                    <source src="img/cbc-training-anim.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <video autoplay loop muted playsinline>
                    <source src="img/cbc-events-anim.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
            <div class="scrollbar-track scrollbar-track-x">
              <div class="scrollbar-thumb scrollbar-thumb-x"></div>
            </div>
            <div class="scrollbar-track scrollbar-track-y">
              <div class="scrollbar-thumb scrollbar-thumb-y"></div>
            </div>
          </div>
        </div>
      </script>

      <script type="text/x-template" id="proof-project">
        <div>
          <div class="back-button-container">
            <router-link to="/">
              <div class="back-arrow"></div>
              <div class="back-arrow-text project-arrow">BACK</div>
            </router-link>
          </div>
          <div id="scrollbar" data-scrollbar>
            <div class="project_wrapper">
              <div class="project_header">
                <h2>PROOF MAGAZINE</h2>
                <span id="project-scroll">[ SCROLL DOWN ]</span>
              </div>
              <div class="project_info section--small"  id="project-start">
                <div class="project_details">
                    <h4>Date</h4>
                    <p>06/11/19</p>
                  <ul class="project_tags">
                    <h4>Category</h4>
                    <li>PRINT DESIGN</li>
                    <li>TYPOGRAPHY</li>
                    <li>PHOTOGRAPHY</li>
                  </ul>
                </div>
                <div class="project_brief">
                  <p>PROOF exists at the edge of luxury and modernism with each issue providing
                  an exclusive look into the world of high-end culinary cocktails.<br />
                  <br />
                  Each publication was designed on a strict grid that offered consistency when needed,
                  and variation when beneficial. The project included everything from initial
                  branding to drink photography to ensure a cohesive flavor throughout.</p>
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-lifestyle-01-lq.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-spread-01.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-spread-02.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-lifestyle-02.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-spread-04.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-spread-05.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-spread-06.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-lifestyle-03.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-spread-08.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-spread-09.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-lifestyle-10.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-spread-11.jpg" />
                </div>
              </div>
              <div class="project_content section--medium">
                <div class="content_image_block">
                  <img src="img/proof-spread-12.jpg" />
                </div>
              </div>
            </div>
            <div class="scrollbar-track scrollbar-track-x">
              <div class="scrollbar-thumb scrollbar-thumb-x"></div>
            </div>
            <div class="scrollbar-track scrollbar-track-y">
              <div class="scrollbar-thumb scrollbar-thumb-y"></div>
            </div>
          </div>
        </div>
      </script>

      <div id="app">
          <loading-screen v-if="isLoading"></loading-screen>
          <transition name="fade" mode="out-in">
            <router-view></router-view>
          </transition>
      </div>
      <script src="js/main.js"></script>
      <script src="js/vue-router.js"></script>
    </body>
</html>
